@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "noto Sans", sans-serif;
}


.main-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
}

.left-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
}

.left-login h1{
    font-size: 3vw;
    color: #77ffc0;
}

.left-login img{
    width: 35vw;
}

.right-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 5px 15px 50px #00000056;
}

.card-login h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfild{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0px;
    width: 100%;
}

.textfild  input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 5px 15px 50px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfild label{
    color: #f0ffffde;
    margin-bottom: 5px;
}

.textfild input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88d5;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-login:hover{
   
    color: #2b134bc2;
    background-color: #00ff88;
    box-shadow: 3px 10px 80px -12px #00ff8052;
    
}

@media screen and (max-width: 950px ){
    .card-login{
        width: 85%
    }
}

@media screen  and (max-width: 600px ){
    .main-login{
        flex-direction: column
    }
    .left-login h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login img{
        width: 50vw
    }
    .card-login{
        width: 80%;
    }
}
    
